<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <style>
    .card{
      float:left;
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">

    <title>Welcome <%= user.displayName%></title>
  </head>
  <body>
  <nav class="navbar navbar-light" style="background-color: #e7ff21;">
  <span class="navbar-brand mb-0 h1">Notes App</span>
</nav>
<div class="card" style="width: 18rem;">
  <div class="card-body">
     <form action="" method="post">
   <textarea name="text" placeholder="Enter Text Here"></textarea>

   <input type="submit" class="btn btn-success">
   </form>
    
  </div>

</div>
    <% for(var i=0;i<tasks.length;i++){ %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"><%=tasks[i].text%></p>
    <a href="delete?id=<%=tasks[i]._id%>" class="card-link">Delete</a>
    
  </div>

</div>
  <% } %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>